body {
  margin: 0;
  padding: 0;
  direction: rtl;
}

a {
  color: #000;
  text-decoration: none;
}

.sh, nav, section .title, section .gurop .cards, section .gurop .cards svg, section .gurop .card {
  box-shadow: 0px 0px 10px -8px #000;
}

.b-r, nav, section .title {
  border-radius: 10px;
}

.b-r2, section .gurop .cards, section .gurop .card {
  border-radius: 20px;
}

nav {
  height: 60px;
  display: flex;
}

nav p {
  padding: 0 30px;
  font-size: 20px;
  width: 50px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 20px;
  display: inline-block;
}

section .title {
  padding: 10px;
  margin: 10px;
  width: 200px;
}

section .gurop {
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
}

section .gurop .cards {
  width: 10rem;
  margin: 10px;
  flex: 0 0 auto;
  height: 215px;
}

section .gurop .cards svg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 14px;
  text-align: center;
  float: left;
  margin: 100px 0 0 50px;
}

section .gurop .card {
  width: 15rem;
  margin: 10px;
  display: inline-block;
  flex: 0 0 auto;
}

section .gurop .card img {
  width: 15rem;
  border-radius: 10px 10px 0 0;
}

section .gurop .card h1 {
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}

section .gurop .card .clock {
  display: flex;
}

section .gurop .card .clock i {
  font-size: 18px;
  padding: 15px;
}

body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

body::-webkit-scrollbar-button {
  background-color: #fff;
  width: 16px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

body::-webkit-scrollbar-button {
  display: none;
}

.gurop::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

.gurop::-webkit-scrollbar-button {
  background-color: #fff;
  width: 16px;
}

.gurop::-webkit-scrollbar-track {
  background-color: #fff;
}

.gurop::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

.gurop::-webkit-scrollbar-button {
  display: none;
}
